mainmenu.css


body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background-color: #e8d9ff;
    color: #333;
}

.page-background {
    min-height: 100vh;
    background-image: url("./assets/mainmenu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Header */
header {
    text-align: center;
    padding: 30px 10px;
    background-color: lavender;
    border-bottom: 2px solid #eee;
}

    header h1 {
        color: blueviolet;
        font-size: 60px;
        margin: 0;
    }

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    gap: 30px;
}

    nav button {
        background-color: white;
        border: none;
        font-size: 18px;
        color: dimgrey;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.2s;
    }

        nav button:hover {
            background-color: #c6b4ff;
        }

/* Layout */
.container {
    width: 80%;
    margin: 30px auto;
}

/* Cards */
.card {
    background-color: lavender;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}

    .card:hover {
        transform: scale(1.02);
    }

/* Offering Card */
.offering-card {
    background: #c6b4ff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
    padding: 12px;
    margin-bottom: 10px;
}

/* Misc */
textarea {
    width: 100%;
    height: 120px;
    margin-top: 15px;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
}

.submit-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.empty-text {
    color: gray;
    font-style: italic;
}